[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/vim-markdown"]
	path = _vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "_vim/bundle/vim-javascript"]
	path = _vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/vim-git"]
	path = _vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
    ignore = dirty
[submodule "_vim/bundle/vim-repeat"]
	path = _vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "_vim/bundle/vim-ragtag"]
	path = _vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "_vim/bundle/vim-json-bundle"]
	path = _vim/bundle/vim-json-bundle
	url = https://github.com/vim-scripts/vim-json-bundle.git
[submodule "_vim/bundle/vim-matchit"]
	path = _vim/bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "_vim/bundle/python-mode"]
	path = _vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "_vim/bundle/vim-fireplace"]
	path = _vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "_vim/bundle/vim-clojure-static"]
	path = _vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
    ignore = dirty
[submodule "_vim/bundle/rainbow_parentheses"]
	path = _vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/ultisnips"]
	path = _vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "_vim/bundle/vim-snippets"]
	path = _vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "_vim/bundle/editorconfig-vim"]
	path = _vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
